<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
	<% provide(:title, 'Home') %>
	<div class="center hero-unit">
	  <h1>Welcome to the Sandbox</h1>

	  <h2>
	    This is the home page for the Sandbox by
	    <a href="http://waywire.com/erik">Erik</a>
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Twitter", "/auth/twitter", class: "btn btn-large" %>
    <%= link_to "Facebook", "auth/facebook", class: "btn btn-large" %>
	</div>
  <div class="imgContainer">
    <span class="stretch"></span>
  </div>

  <script src="jquery.backstretch.min.js"></script>

  <script>
    $.backstretch([
    "<%= asset_path('nyc.jpg') %>",
    "<%= asset_path('nyc1.jpg') %>",
    "<%= asset_path('nyc2.jpg') %>",
    "<%= asset_path('seattle.jpg') %>",
    "<%= asset_path('seattle1.jpg') %>"
  ], {duration: 12000});
  </script>
<% end %>