<% provide(:title, @user.name) %>
<%- model_class = User -%>
<div class="page-header">
  <div class="row">
    <aside class="span4">
      <section>
        <h1>
          <%= @user.name %>
          <%= gravatar_for @user %>
        </h1>
        <span><%= @user.email %></span>
        <span><%= @user.bio %></span>
      </section>
      <section>
      <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span8">
      <%= render 'follow_form' if signed_in? %>
      <% if @user.posts.any? %>
        <h3>Posts (<%= @user.posts.count %>)</h3>
        <ol class="microposts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
      <% end %>
    </div>
  </div>
</div>
